:root{
    --first-color: #E0E7FF;
    --second-color: #8667F2;
}
*{
    font-family: "Poppins", sans-serif;
}
body{
    background-color: var(--first-color)!important;
}
.glassmorphism{
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.active{
    background-color: var(--second-color)!important;
    border-radius: 5px;
    color: white!important;
}
.btn-purple{
    background-color: var(--second-color)!important;
    color: white!important;
    transition: 0.5s all ease;
}
.btn-purple:hover{
    background-color: #5039a2!important;
}
.text-purple{
    color: var(--second-color)!important;
}
.bg-purple{
    background-color: var(--first-color)!important;
}
.animate-slideIn {
    text-align: center;
    animation: slideIn 1s linear forwards;
}
.pointer:hover{
    cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* Animasi Button */
.btn-animate {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--second-color)!important;
  color: var(--second-color)!important;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-animate span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.btn-animate span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  width: 100%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.btn-animate:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color)!important;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.btn-animate:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.btn-animate:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* wave */
.wave span:nth-child(1){
  animation: wave 5s linear infinite;
  border-radius: 45%;
  background: rgb(255, 255, 255);
}
.wave span:nth-child(2){
  animation: wave 10s linear infinite;
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
}
.wave span:nth-child(3){
  animation: wave 15s linear infinite;
  border-radius: 42%;
  background: rgba(255, 255, 255, 0.5);
}


/* Animasi */
@keyframes slideIn {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes wave{
    0%{
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -75%) rotate(360deg);
    }
}
@-webkit-keyframes wave {
  0% {
      transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -75%) rotate(360deg);
  }
}